* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("../images/stripes.png") repeat-x, url("../images/background.jpg") no-repeat;
	background-size:auto, cover;
	background-color: slategray;
}

hr {
  border-color:red;
  float:left;
}

a {

}
section {
	margin:300px 0 0 100px;
}
p {
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	font-weight: normal;
	font-style: normal;
	margin:20px 0 20px 0;
	text-align: left;
	text-decoration: none;
}
